@use "variables" as *;

.transaction-container {
    position: relative;

    .transaction-buttons {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;

        a {
            display: inline-block;
            line-height: 1ch;

            &.hidden {
                display: none;
            }

            fill: gray;

            svg {
                transition: all 0.2s ease;
            }

            &:hover, &:focus {
                fill: black;
                &.clear {
                    fill: red;
                }
            }

            &.sort > svg.ascending {
                transform: scaleY(-100%);
            }
        }
    }

    .transactions {
        display: flex;
        flex-direction: column-reverse;

        &.ascending {
            flex-direction: column;
        }

        & > div {
            padding: $main-padding;
            border-bottom: $border;
        }

        .id, .date {
            font-size: 0.75em;
        }
    }
}
