@use "variables" as *;

.transaction-container {
    position: relative;

    .sort {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;

        svg {
            fill: gray;
            transition: all 0.2s ease;
        }

        svg:hover {
            fill: black;
        }

        svg.ascending {
            transform: scaleY(-100%);
        }
    }

    .transactions {
        display: flex;
        flex-direction: column-reverse;

        &.ascending {
            flex-direction: column;
        }

        & > div {
            padding: $main-padding;
            border-bottom: $border;
        }

        .id, .date {
            font-size: 0.75em;
        }
    }
}
