@use "generic";
@use "transactions";
@use "variables" as *;

html {
    background-color: dimgray;
}

main {
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;

    max-width: 600px;
    margin: 4rem auto;

    h1 {
        padding: $main-padding;
        border-bottom: $border;
    }

    form {
        padding: $main-padding;
        border-bottom: $border;
        gap: 0.5em;

        display: flex;
        align-items: center;

        input {
            padding: 0.25rem;
        }

        #transaction {
            flex: 1;
            min-width: 3ch;
        }
    }

    .balance {
        padding: $main-padding;
        border-bottom: $border;
        background-color: lightgray;

        h2, p {
            margin-bottom: 0.5em;
        }
    }
}
